version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/.github/dependabot/"
    schedule:
      interval: "daily"
    cooldown:
      default-days: 7
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
    groups:
      actions:
        patterns:
          - "*"
