cfelpyutils==2.0.6
contourpy==1.1.1
cycler==0.12.1
EXtra-data==1.14.0
EXtra-geom==1.10.0
fonttools==4.43.1
h5py==3.9.0
karabo-bridge==0.7.0
kiwisolver==1.4.5
matplotlib==3.8.0
msgpack==1.0.7
msgpack-numpy==0.4.8
mypy-extensions==1.0.0
numpy==1.26.0
packaging==23.2
pandas==2.1.1
Pillow==10.0.1
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
pyzmq==25.1.1
six==1.16.0
tzdata==2023.3
xarray==2023.9.0
