cfelpyutils==2.0.6
contourpy==1.2.0
cycler==0.12.1
EXtra-data==1.16.0
EXtra-geom==1.11.0
fonttools==4.49.0
h5py==3.10.0
karabo-bridge==0.7.0
kiwisolver==1.4.5
matplotlib==3.8.3
msgpack==1.0.8
msgpack-numpy==0.4.8
mypy-extensions==1.0.0
numpy==1.26.4
packaging==24.0
pandas==2.2.1
Pillow==10.2.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
pyzmq==25.1.2
six==1.16.0
tzdata==2024.1
xarray==2024.2.0
