interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibration_constant_versions?page_size=500&report_id=3757
  response:
    body:
      string: '[{"id":172384,"name":"20230729_175636_sIdx=0","file_name":"cal.1690653395.1169305.h5","path_to_file":"xfel/cal/agipd-type/agipd_siv1_agipdv11_m316/","data_set_name":"/AGIPD_SIV1_AGIPDV11_M316/Offset/0","flg_deployed":true,"flg_good_quality":true,"begin_validity_at":"2023-07-29T19:34:53.000+02:00","end_validity_at":null,"begin_at":"2023-07-29T19:34:53.000+02:00","start_idx":0,"end_idx":0,"raw_data_location":"proposal:900376
        runs:17 16 15","report_id":3757,"description":"","created_at":"2023-07-29T19:56:36.000+02:00","view_url":"https://in.xfel.eu/calibration/calibration_constant_versions/172384","calibration_constant":{"id":21390,"name":"AGIPD-Type_Offset_AGIPD
        Defq3KMmEuBoGi/XU95lEVObQ==\n","detector_type_id":2,"calibration_id":1,"condition_id":6653,"flg_auto_approve":true,"flg_available":true,"description":"Per-pixel
        (per-memory cell) offset","created_at":"2022-11-06T01:39:37.000+01:00","updated_at":"2022-11-06T01:39:37.000+01:00"},"physical_detector_unit":{"id":59,"physical_name":"AGIPD_SIV1_AGIPDV11_M316","detector_type_id":2,"flg_available":true,"description":null,"created_at":"2018-03-02T15:39:08.000+01:00","updated_at":"2023-12-08T13:10:28.000+01:00","karabo_da":"","detector_id":null,"virtual_device_name":"","uuid":101001300000,"float_uuid":4.99012725153e-313,"module_number":null,"karabo_da_at_ccv_begin_at":"AGIPD13","detector_id_at_ccv_begin_at":2,"virtual_device_name_at_ccv_begin_at":"Q4M2","module_number_at_ccv_begin_at":null}},{"id":172385,"name":"20230729_175639_sIdx=0","file_name":"cal.1690653398.0811.h5","path_to_file":"xfel/cal/agipd-type/agipd_siv1_agipdv11_m316/","data_set_name":"/AGIPD_SIV1_AGIPDV11_M316/Noise/0","flg_deployed":true,"flg_good_quality":true,"begin_validity_at":"2023-07-29T19:34:53.000+02:00","end_validity_at":null,"begin_at":"2023-07-29T19:34:53.000+02:00","start_idx":0,"end_idx":0,"raw_data_location":"proposal:900376
        runs:17 16 15","report_id":3757,"description":"","created_at":"[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations/1
  response:
    body:
      string: '{"id":1,"name":"Offset","unit_id":1,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1486ae7c7b90255cd325a8bf120a5634"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/detectors/2
  response:
    body:
      string: '{"id":2,"name":"SPB_DET_AGIPD1M-1","identifier":"SPB_DET_AGIPD1M-1","karabo_name":"SPB_DET_AGIPD1M-1","karabo_id_control":"SPB_IRU_AGIPD1M1","source_name_pattern":null,"number_of_modules":null,"first_module_index":null,"flg_available":true,"description":null,"detectors_instruments":[{"instrument_id":3,"detector_id":2},{"instrument_id":7,"detector_id":2}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bd6a60e0518d58933c8cd5f22bdb17c4"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
version: 1
