interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/detectors?identifier=FXE_DET_LPD1M-1
  response:
    body:
      string: '[{"id":7,"name":"FXE_DET_LPD1M-1","identifier":"FXE_DET_LPD1M-1","karabo_name":"FXE_DET_LPD1M-1","karabo_id_control":"NA","source_name_pattern":null,"number_of_modules":null,"first_module_index":null,"flg_available":true,"description":null,"detectors_instruments":[{"instrument_id":6,"detector_id":7},{"instrument_id":7,"detector_id":7}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"de3e8e6bee77b5815fc34cf417c7c179"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/physical_detector_units/get_all_by_detector?detector_id=7&pdu_snapshot_at=2022-05-22T02%3A00%3A00
  response:
    body:
      string: '[{"id":78,"physical_name":"LPD_SIV1_LPDV2_SM015","karabo_da":"LPD00","virtual_device_name":"Q1M1","uuid":202001600000,"float_uuid":9.9802050965e-313,"detector_type_id":1,"detector_id":7,"module_number":null,"flg_available":true,"description":null,"detector":{"id":7,"name":"FXE_DET_LPD1M-1","identifier":"FXE_DET_LPD1M-1","karabo_name":"FXE_DET_LPD1M-1","karabo_id_control":"NA","source_name_pattern":null,"number_of_modules":null,"first_module_index":null,"flg_available":true,"description":null},"detector_type":{"id":1,"name":"LPD-Type","flg_available":true,"description":null}},{"id":75,"physical_name":"LPD_SIV1_LPDV2_SM012","karabo_da":"LPD01","virtual_device_name":"Q1M2","uuid":202001300000,"float_uuid":9.98019027453e-313,"detector_type_id":1,"detector_id":7,"module_number":null,"flg_available":true,"description":null,"detector":{"id":7,"name":"FXE_DET_LPD1M-1","identifier":"FXE_DET_LPD1M-1","karabo_name":"FXE_DET_LPD1M-1","karabo_id_control":"NA","source_name_pattern":null,"number_of_modules":null,"[...]
- request:
    body: '{"parameters_conditions_attributes": [{"parameter_name": "Sensor Bias Voltage",
      "value": 250.0}, {"parameter_name": "Memory cells", "value": 200.0}, {"parameter_name":
      "Pixels X", "value": 256.0}, {"parameter_name": "Pixels Y", "value": 256.0},
      {"parameter_name": "Feedback capacitor", "value": 5.0}]}'
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibration_constant_versions/get_by_detector_conditions?detector_identifier=FXE_DET_LPD1M-1&calibration_id=%5B1%2C+2%2C+14%5D&karabo_da=&event_at=2022-05-22T02%3A00%3A00&pdu_snapshot_at=2022-05-22T02%3A00%3A00&begin_at_strategy=closest
  response:
    body:
      string: '[{"id":135686,"name":"20220628_113205_sIdx=0","file_name":"cal.1656415923.9900053.h5","path_to_file":"xfel/cal/lpd-type/lpd_siv1_lpdv2_sm015/","data_set_name":"/LPD_SIV1_LPDV2_SM015/Offset/0","flg_deployed":true,"flg_good_quality":true,"begin_validity_at":"2022-05-22T00:12:28.000+02:00","end_validity_at":null,"begin_at":"2022-05-22T00:12:28.000+02:00","start_idx":0,"end_idx":0,"raw_data_location":"proposal:p003073
        runs:162 161 160","report_id":2370,"description":"","created_at":"2022-06-28T13:32:05.000+02:00","view_url":"https://in.xfel.eu/calibration/calibration_constant_versions/135686","calibration_constant":{"id":19998,"name":"LPD-Type_Offset_LPD
        DefoDBHQs2kECGASWjHykit+g==\n","detector_type_id":1,"calibration_id":1,"condition_id":6177,"flg_auto_approve":true,"flg_available":true,"description":"Per-pixel
        (per-memory cell) offset","created_at":"2022-06-28T13:32:05.000+02:00","updated_at":"2022-06-28T13:32:05.000+02:00"},"physical_detector_unit":{"id":78,"physical_name":"LPD_SIV1_LPDV2_SM015","detector_type_id":1,"flg_available":true,"description":null,"created_at":"2018-05-17T10:28:37.000+02:00","updated_at":"2021-01-12T10:33:12.000+01:00","karabo_da":"LPD00","detector_id":7,"virtual_device_name":"Q1M1","uuid":202001600000,"float_uuid":9.9802050965e-313,"module_number":null,"karabo_da_at_ccv_begin_at":"LPD00","detector_id_at_ccv_begin_at":7,"virtual_device_name_at_ccv_begin_at":"Q1M1","module_number_at_ccv_begin_at":null}},{"id":135694,"name":"20220628_113212_sIdx=0","file_name":"cal.1656415931.3233728.h5","path_to_file":"xfel/cal/lpd-type/lpd_siv1_lpdv2_sm015/","data_set_name":"/LPD_SIV1_LPDV2_SM015/Noise/0","flg_deployed":true,"flg_good_quality":true,"begin_validity_at":"2022-05-22T00:12:28.000+02:00","end_validity_at":null,"begin_at":"2022-05-22T00:12:28.000+02:00","start_idx":0,"end_idx":0,"raw_data_location":"proposal:p003073
        runs:162 161 160","report_id":2370,"description":"","created_at":"202[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=RelativeGain
  response:
    body:
      string: '[{"id":44,"name":"RelativeGain","unit_id":19,"max_value":null,"min_value":null,"allowed_deviation":null,"description":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"094f27555a0cd731455610d18d5cc649"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=GainAmpMap
  response:
    body:
      string: '[{"id":42,"name":"GainAmpMap","unit_id":19,"max_value":null,"min_value":null,"allowed_deviation":null,"description":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"546277927cfe3a0b8623c120abe64e34"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=FFMap
  response:
    body:
      string: '[{"id":43,"name":"FFMap","unit_id":19,"max_value":null,"min_value":null,"allowed_deviation":null,"description":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bac644b58dfc1cef85d9b1f8dbe2576f"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"parameters_conditions_attributes": [{"parameter_name": "Sensor Bias Voltage",
      "value": 250.0}, {"parameter_name": "Memory cells", "value": 200.0}, {"parameter_name":
      "Pixels X", "value": 256.0}, {"parameter_name": "Pixels Y", "value": 256.0},
      {"parameter_name": "Feedback capacitor", "value": 5.0}, {"parameter_name": "Source
      Energy", "value": 9.3}, {"parameter_name": "category", "value": 0.0}]}'
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibration_constant_versions/get_by_detector_conditions?detector_identifier=FXE_DET_LPD1M-1&calibration_id=%5B44%2C+42%2C+43%2C+20%5D&karabo_da=&event_at=2022-05-22T02%3A00%3A00&pdu_snapshot_at=2022-05-22T02%3A00%3A00&begin_at_strategy=closest
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
version: 1
