interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/detectors?identifier=SQS_DET_DSSC1M-1
  response:
    body:
      string: '[{"id":28,"name":"SQS_DET_DSSC1M-1","identifier":"SQS_DET_DSSC1M-1","karabo_name":"SQS_DET_DSSC1M-1","karabo_id_control":"SQS_NQS_DSSC","source_name_pattern":null,"number_of_modules":null,"first_module_index":null,"flg_available":true,"description":null,"detectors_instruments":[{"instrument_id":2,"detector_id":28},{"instrument_id":7,"detector_id":28}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a8d2d9773c98d7aa08414d4272e23394"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/physical_detector_units/get_all_by_detector?detector_id=28&pdu_snapshot_at=2023-11-29+00%3A00%3A00
  response:
    body:
      string: '[{"id":121,"physical_name":"DSSC_MiniSDDV1_F2_004","karabo_da":"DSSC00","virtual_device_name":"Q1M1","uuid":404000400000,"float_uuid":1.99602718546e-312,"detector_type_id":7,"detector_id":28,"module_number":null,"flg_available":true,"description":null,"detector":{"id":28,"name":"SQS_DET_DSSC1M-1","identifier":"SQS_DET_DSSC1M-1","karabo_name":"SQS_DET_DSSC1M-1","karabo_id_control":"SQS_NQS_DSSC","source_name_pattern":null,"number_of_modules":null,"first_module_index":null,"flg_available":true,"description":null},"detector_type":{"id":7,"name":"DSSC-Type","flg_available":true,"description":null}},{"id":120,"physical_name":"DSSC_MiniSDDV1_F2_003","karabo_da":"DSSC01","virtual_device_name":"Q1M2","uuid":404000300000,"float_uuid":1.996026691396e-312,"detector_type_id":7,"detector_id":28,"module_number":null,"flg_available":true,"description":null,"detector":{"id":28,"name":"SQS_DET_DSSC1M-1","identifier":"SQS_DET_DSSC1M-1","karabo_name":"SQS_DET_DSSC1M-1","karabo_id_control":"SQS_NQS_DSSC","source_name_pattern":null,"numbe[...]
- request:
    body: '{"parameters_conditions_attributes": [{"parameter_name": "Sensor Bias Voltage",
      "value": 100.0}, {"parameter_name": "Memory cells", "value": 600.0}, {"parameter_name":
      "Pixels X", "value": 512.0}, {"parameter_name": "Pixels Y", "value": 128.0}]}'
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibration_constant_versions/get_by_detector_conditions?detector_identifier=SQS_DET_DSSC1M-1&calibration_id=%5B1%2C+2%5D&karabo_da=&event_at=2023-11-29+00%3A00%3A00&pdu_snapshot_at=2023-11-29+00%3A00%3A00&begin_at_strategy=closest
  response:
    body:
      string: '[{"id":190329,"name":"20231128_094249_sIdx=0","file_name":"cal.1701164568.7374022.h5","path_to_file":"xfel/cal/dssc-type/dssc_minisddv1_f2_004/","data_set_name":"/DSSC_MiniSDDV1_F2_004/Offset/0","flg_deployed":true,"flg_good_quality":true,"begin_validity_at":"2023-11-28T10:40:01.000+01:00","end_validity_at":null,"begin_at":"2023-11-28T10:40:01.000+01:00","start_idx":0,"end_idx":0,"raw_data_location":"proposal:900388
        runs:9","report_id":4423,"description":"","created_at":"2023-11-28T10:42:49.000+01:00","view_url":"https://in.xfel.eu/calibration/calibration_constant_versions/190329","calibration_constant":{"id":26100,"name":"DSSC-Type_Offset_DSSC
        Defa6rg2DzTuH8YMI0tacDEdA==\n","detector_type_id":7,"calibration_id":1,"condition_id":8366,"flg_auto_approve":true,"flg_available":true,"description":"Per-pixel
        (per-memory cell) offset","created_at":"2023-11-24T20:48:48.000+01:00","updated_at":"2023-11-24T20:48:48.000+01:00"},"physical_detector_unit":{"id":121,"physical_name":"DSSC_MiniSDDV1_F2_004","detector_type_id":7,"flg_available":true,"description":null,"created_at":"2019-05-24T09:30:34.000+02:00","updated_at":"2023-09-27T15:09:45.000+02:00","karabo_da":"DSSC00","detector_id":28,"virtual_device_name":"Q1M1","uuid":404000400000,"float_uuid":1.99602718546e-312,"module_number":null,"karabo_da_at_ccv_begin_at":"DSSC00","detector_id_at_ccv_begin_at":28,"virtual_device_name_at_ccv_begin_at":"Q1M1","module_number_at_ccv_begin_at":null}},{"id":190340,"name":"20231128_094254_sIdx=0","file_name":"cal.1701164573.2958426.h5","path_to_file":"xfel/cal/dssc-type/dssc_minisddv1_f2_004/","data_set_name":"/DSSC_MiniSDDV1_F2_004/Noise/0","flg_deployed":true,"flg_good_quality":true,"begin_validity_at":"2023-11-28T10:40:01.000+01:00","end_validity_at":null,"begin_at":"2023-11-28T10:40:01.000+01:00","start_idx":0,"end_idx":0,"raw_data_location":"proposal:900388
        runs:9","report_id":4423,"description":"","created_at":"2023-11-28T[...]
