interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/me
  response:
    body:
      string: '{"id":-9,"email":"admin@example.com","provider":"local","contact_email":"admin@example.com","name":"Admin
        User","first_name":"Admin","last_name":"User","nickname":null,"uid":null,"ldap_synced_at":null,"flg_service_account":true,"flg_ldap_account_valid":false,"roles":["admin"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9ec4cec974b56aebafbb6dc312056934"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibration_constant_versions/167199
  response:
    body:
      string: '{"id":167199,"name":"20230512_123706_sIdx=0","file_name":"cal.1683895025.1961641.h5","path_to_file":"xfel/cal/lpd-type/lpd_sm-2021-001/","data_set_name":"/LPD_SM-2021-001/RelativeGain/0","flg_deployed":true,"flg_good_quality":true,"begin_validity_at":"2023-05-12T14:37:09.000+02:00","end_validity_at":null,"begin_at":"2023-05-12T14:37:09.000+02:00","start_idx":0,"end_idx":0,"raw_data_location":"","report_id":3540,"description":"","created_at":"2023-05-12T14:37:06.000+02:00","view_url":"https://in.xfel.eu/calibration/calibration_constant_versions/167199","calibration_constant":{"id":33411,"name":"LPD-Type_RelativeGain_LPD
        Def IllnPJEj0A9k23sFR4Z3q88Ew==\n-2","detector_type_id":1,"calibration_id":44,"condition_id":10802,"flg_auto_approve":true,"flg_available":true,"description":"Per-pixel
        (per-memory cell) relative gain map","created_at":"2022-05-04T13:08:34.000+02:00","updated_at":"2025-11-28T09:47:23.000+01:00"},"physical_detector_unit":{"id":169,"physical_name":"LPD_SM-2021-001","detector_type_id":1,"flg_available":true,"description":null,"created_at":"2021-08-10T13:39:05.000+02:00","updated_at":"2022-05-16T15:16:09.000+02:00","karabo_da":"LPD15","detector_id":7,"virtual_device_name":"Q4M4","uuid":202001700000,"float_uuid":9.98021003715e-313,"module_number":null,"karabo_da_at_ccv_begin_at":"LPD15","detector_id_at_ccv_begin_at":7,"virtual_device_name_at_ccv_begin_at":"Q4M4","module_number_at_ccv_begin_at":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"63b2c54231199687c1d0ebb012938d76"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/reports/3540
  response:
    body:
      string: '{"id":3540,"name":"LPD_2023-05-12T14:36:30","file_path":"No_report/LPD_2023-05-12T14:36:30","flg_available":true,"description":"","calibration_constant_versions":[{"id":167182,"name":"20230512_123639_sIdx=0","file_name":"cal.1683894997.7409842.h5","path_to_file":"xfel/cal/lpd-type/lpd_siv1_lpdv2_sm009/","data_set_name":"/LPD_SIV1_LPDV2_SM009/RelativeGain/0","flg_deployed":true,"flg_good_quality":true,"begin_validity_at":"2023-05-12T14:37:09.000+02:00","end_validity_at":null,"begin_at":"2023-05-12T14:37:09.000+02:00","start_idx":0,"end_idx":0,"raw_data_location":"","report_id":3540,"description":"","created_at":"2023-05-12T14:36:39.000+02:00","view_url":"[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibration_constant_versions/237850
  response:
    body:
      string: '{"id":237850,"name":"20250314_114746_sIdx=0_237850","file_name":"cal.1741952865.1392424.h5","path_to_file":"xfel/cal/lpd-type/lpd_sm-2021-001/","data_set_name":"/LPD_SM-2021-001/Offset/0","flg_deployed":true,"flg_good_quality":true,"begin_validity_at":"2025-03-14T12:36:59.000+01:00","end_validity_at":null,"begin_at":"2025-03-14T12:36:59.000+01:00","start_idx":0,"end_idx":0,"raw_data_location":"proposal:p900491
        runs:390 391 392","report_id":6877,"description":"","created_at":"2025-03-14T12:47:46.000+01:00","view_url":"https://in.xfel.eu/calibration/calibration_constant_versions/237850","calibration_constant":{"id":32251,"name":"LPD-Type_Offset_LPD
        DefbHcuNQ0db3ON-2","detector_type_id":1,"calibration_id":1,"condition_id":10432,"flg_auto_approve":true,"flg_available":true,"description":"Per-pixel
        (per-memory cell) offset","created_at":"2018-08-07T17:19:18.000+02:00","updated_at":"2025-11-28T09:08:16.000+01:00"},"physical_detector_unit":{"id":169,"physical_name":"LPD_SM-2021-001","detector_type_id":1,"flg_available":true,"description":null,"created_at":"2021-08-10T13:39:05.000+02:00","updated_at":"2022-05-16T15:16:09.000+02:00","karabo_da":"LPD15","detector_id":7,"virtual_device_name":"Q4M4","uuid":202001700000,"float_uuid":9.98021003715e-313,"module_number":null,"karabo_da_at_ccv_begin_at":"LPD15","detector_id_at_ccv_begin_at":7,"virtual_device_name_at_ccv_begin_at":"Q4M4","module_number_at_ccv_begin_at":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cd3556f514e6d5e0db1935fbab3c1ad9"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/detectors?identifier=FXE_DET_LPD1M-1
  response:
    body:
      string: '[{"id":7,"name":"FXE_DET_LPD1M-1","identifier":"FXE_DET_LPD1M-1","karabo_name":"FXE_DET_LPD1M-1","karabo_id_control":"NA","source_name_pattern":"FXE_DET_LPD1M-1/DET/{modno}CH0:xtdf","number_of_modules":16,"first_module_index":0,"flg_available":true,"description":null,"detectors_instruments":[{"instrument_id":6,"detector_id":7},{"instrument_id":7,"detector_id":7}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"16d82889f839e37dca66ef8d5ae0fba5"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/detector_types
  response:
    body:
      string: '[{"id":1,"name":"LPD-Type","flg_available":true,"description":null},{"id":2,"name":"AGIPD-Type","flg_available":true,"description":"AGIPDConditions"},{"id":3,"name":"FastCCD-Type","flg_available":true,"description":null},{"id":4,"name":"jungfrau-Type","flg_available":true,"description":"The
        Ju[...]
