interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/me
  response:
    body:
      string: '{"id":-9,"email":"admin@example.com","provider":"local","contact_email":"admin@example.com","name":"Admin
        User","first_name":"Admin","last_name":"User","nickname":null,"uid":null,"ldap_synced_at":null,"flg_service_account":true,"flg_ldap_account_valid":false,"roles":["admin"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9ec4cec974b56aebafbb6dc312056934"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/instruments?identifier=SCS
  response:
    body:
      string: '[{"id":1,"name":"SCS SASE3","identifier":"SCS","url":null,"flg_available":true,"description":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c707e2c93200c3b80579cc4c14e8005c"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/detectors/get_all_by_instrument?instrument_id=1
  response:
    body:
      string: '[{"id":1,"name":"SCS_DET_DSSC1M-1","identifier":"SCS_DET_DSSC1M-1","karabo_name":"SCS_DET_DSSC1M-1","karabo_id_control":"SCS_CDIDET_DSSC","source_name_pattern":null,"number_of_modules":16,"first_module_index":null,"flg_available":true,"description":null,"detectors_instruments":[{"instrument_id":1,"detector_id":1},{"instrument_id":7,"detector_id":1}]},{"id":46,"name":"SCS_HRIXS_JUNGF","identifier":"SCS_HRIXS_JUNGF","karabo_name":"SCS_HRIXS_JUNGF","karabo_id_control":"SCS_HRIXS_JUNGF","source_name_pattern":null,"number_of_modules":null,"first_module_index":null,"flg_available":true,"description":null,"detectors_instruments":[{"instrument_id":1,"detector_id":46}]},{"id":48,"name":"SCS_XOX_GH21","identifier":"SCS_XOX_GH21","karabo_name":"SCS_XOX_GH21","karabo_id_control":"SCS_XOX_GH21","source_name_pattern":null,"number_of_modules":1,"first_module_index":null,"flg_available":true,"description":null,"detectors_instruments":[{"instrument_id":1,"detector_id":48}]},{"id":49,"name":"SCS_XOX_GH22","identifier":"SCS_XOX_GH22","karabo_name":"SCS_XOX_GH22","karabo_id_control":"SCS_XOX_GH22","source_name_pattern":null,"number_of_modules":1,"first_module_index":null,"flg_available":true,"description":null,"detectors_instruments":[{"instrument_id":1,"detector_id":49}]},{"id":66,"name":"SCS_DET_DSSC2","identifier":"SCS_DET_DSSC2","karabo_name":"SCS_DET_DSSC2","karabo_id_control":"SCS_CDIDET_DSSC2","source_name_pattern":null,"number_of_modules":16,"first_module_index":null,"flg_available":true,"description":null,"detectors_instruments":[{"instrument_id":1,"detector_id":66}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"48d6a0d18ff9c05e1176404ab579e32b"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
version: 1
