interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/me
  response:
    body:
      string: '{"id":-9,"email":"admin@example.com","provider":"local","contact_email":"admin@example.com","name":"Admin
        User","first_name":"Admin","last_name":"User","nickname":null,"uid":null,"ldap_synced_at":null,"flg_service_account":true,"flg_ldap_account_valid":false,"roles":["admin"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9ec4cec974b56aebafbb6dc312056934"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/instruments?identifier=SPB
  response:
    body:
      string: '[{"id":3,"name":"SPB/SFX SASE1","identifier":"SPB","url":null,"flg_available":true,"description":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"66b3f66d3c3c202304893d6ec08a0891"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/detectors/get_all_by_instrument?instrument_id=3
  response:
    body:
      string: '[{"id":2,"name":"SPB_DET_AGIPD1M-1","identifier":"SPB_DET_AGIPD1M-1","karabo_name":"SPB_DET_AGIPD1M-1","karabo_id_control":"SPB_IRU_AGIPD1M1","source_name_pattern":"SPB_DET_AGIPD1M-1/DET/{modno}CH0:xtdf","number_of_modules":16,"first_module_index":0,"flg_available":true,"description":null,"detectors_instruments":[{"instrument_id":3,"detector_id":2},{"instrument_id":7,"detector_id":2}]},{"id":24,"name":"SPB_IRDA_JF4M","identifier":"SPB_IRDA_JF4M","karabo_name":"SPB_IRDA_JF4M","karabo_id_control":"SPB_IRDA_JF4M","source_name_pattern":"SPB_IRDA_JF4M/DET/JNGFR{modno:02d}:daqOutput","number_of_modules":8,"first_module_index":1,"flg_available":true,"description":null,"detectors_instruments":[{"instrument_id":3,"detector_id":24},{"instrument_id":7,"detector_id":24}]},{"id":37,"name":"SPB_50UM_GH2","identifier":"SPB_50UM_GH2","karabo_name":"SPB[...]
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/physical_detector_units/get_all_by_detector?detector_id=24&pdu_snapshot_at=
  response:
    body:
      string: '[{"id":140,"physical_name":"Jungfrau_M275","karabo_da":"JNGFR01","virtual_device_name":null,"uuid":2500000000000,"float_uuid":1.235164114603e-311,"detector_type_id":4,"detector_id":24,"module_number":null,"flg_available":true,"description":null,"detector":{"id":24,"name":"SPB_IRDA_JF4M","identifier":"SPB_IRDA_JF4M","karabo_name":"SPB_IRDA_JF4M","karabo_id_control":"SPB_IRDA_JF4M","source_name_pattern":"SPB_IRDA_JF4M/DET/JNGFR{modno:02d}:daqOutput","number_of_modules":8,"first_module_index":1,"flg_available":true,"description":null},"detector_type":{"id":4,"name":"jungfrau-Type","flg_available":true,"description":"The
        Jungfrau detector type"}},{"id":178,"physical_name":"Jungfrau_M510","karabo_da":"JNGFR02","virtual_device_name":null,"uuid":1120000000001,"float_uuid":5.533535233427e-312,"detector_type_id":4,"detector_id":24,"module_number":null,"flg_available":true,"description":null,"detector":{"id":24,"name":"SPB_IRDA_JF4M","identifier":"SPB_IRDA_JF4M","karabo_name":"SPB_IRDA_JF4M","karabo_id_control":"SPB_IRDA_JF4M","source_name_[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/instruments?identifier=SA1
  response:
    body:
      string: '[{"id":19,"name":"SASE1","identifier":"SA1","url":null,"flg_available":true,"description":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ce8cbe2ac8df3d832e865df129d0cf98"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
[...]
