interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/me
  response:
    body:
      string: '{"id":-9,"email":"admin@example.com","provider":"local","contact_email":"admin@example.com","name":"Admin
        User","first_name":"Admin","last_name":"User","nickname":null,"uid":null,"ldap_synced_at":null,"flg_service_account":true,"flg_ldap_account_valid":false,"roles":["admin"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9ec4cec974b56aebafbb6dc312056934"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibration_constant_versions/229069
  response:
    body:
      string: '{"id":229069,"name":"20250129_174541_sIdx=0","file_name":"cal.1738172739.3963237.h5","path_to_file":"xfel/cal/agipd-type/agipd_siv1_agipdv12_m544/","data_set_name":"/AGIPD_SIV1_AGIPDV12_M544/ThresholdsDark/0","flg_deployed":true,"flg_good_quality":true,"begin_validity_at":"2025-01-29T18:36:06.000+01:00","end_validity_at":null,"begin_at":"2025-01-29T18:36:06.000+01:00","start_idx":0,"end_idx":0,"raw_data_location":"proposal:900508
        runs:18 17 16","report_id":6512,"description":"","created_at":"2025-01-29T18:45:41.000+01:00","view_url":"https://in.xfel.eu/calibration/calibration_constant_versions/229069","calibration_constant":{"id":26379,"name":"AGIPD-Type_ThresholdsDark_AGIPD
        Def9ZgKEIlTgd4+Nf6G/YDIdw==\n","detector_type_id":2,"calibration_id":11,"condition_id":8449,"flg_auto_approve":true,"flg_available":true,"description":"Per-pixel
        (per-memory cell) thresholds from dark runs","created_at":"2023-12-08T15:31:22.000+01:00","updated_at":"2023-12-08T15:31:22.000+01:00"},"physical_detector_unit":{"id":232,"physical_name":"AGIPD_SIV1_AGIPDV12_M544","detector_type_id":2,"flg_available":true,"description":null,"created_at":"2023-12-08T13:03:40.000+01:00","updated_at":"2023-12-08T13:10:29.000+01:00","karabo_da":"AGIPD15","detector_id":2,"virtual_device_name":"Q4M4","uuid":102153100000,"float_uuid":5.0470337326e-313,"module_number":null,"karabo_da_at_ccv_begin_at":"AGIPD15","detector_id_at_ccv_begin_at":2,"virtual_device_name_at_ccv_begin_at":"Q4M4","module_number_at_ccv_begin_at":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f7d0ad21d3e5870341cc33ea28ac7684"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/reports/6512
  response:
    body:
      string: '{"id":6512,"name":"dark_900508_r0016_r0017_r0018_250129_173927_969581.pdf","file_path":"/gpfs/exfel/d/cal/caldb_store/xfel/reports/SPB/SPB_DET_AGIPD1M-1/dark/dark_900508_r0016_r0017_r0018_250129_173927_969581.pdf","flg_available":true,"description":"","calibration_constant_versions":[{"id":229056,"name":"20250129_174521_sIdx=0","file_name":"cal.1738172719.8307593.h5","path_to_file":"xfel/cal/agipd-type/agipd_siv1_agipdv12_m428/","data_set_name":"/AGIPD_SIV1_AGIPDV12_M428/Offset/0","flg_deployed":true,"flg_good_quality":true,"begin_validity_at":"2025-01-29T18:36:06.000+01:00","end_validity_at":null,"begin_at":"2025-01-29T18:36:06.000+01:00","start_idx":0,"end_idx":0,"raw_data_location":"proposal:900508
        runs:18 17 16","report_id":6512,"description":"","created_at":"20[...]
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/detectors?identifier=SPB_DET_AGIPD1M-1
  response:
    body:
      string: '[{"id":2,"name":"SPB_DET_AGIPD1M-1","identifier":"SPB_DET_AGIPD1M-1","karabo_name":"SPB_DET_AGIPD1M-1","karabo_id_control":"SPB_IRU_AGIPD1M1","source_name_pattern":"SPB_DET_AGIPD1M-1/DET/{modno}CH0:xtdf","number_of_modules":16,"first_module_index":0,"flg_available":true,"description":null,"detectors_instruments":[{"instrument_id":3,"detector_id":2},{"instrument_id":7,"detector_id":2}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"73d84e307238475d3943984c03827c80"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
version: 1
