interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/detectors?identifier=FXE_XAD_JF1M
  response:
    body:
      string: '[{"id":21,"name":"FXE_XAD_JF1M","identifier":"FXE_XAD_JF1M","karabo_name":"FXE_XAD_JF1M","karabo_id_control":"CONTROL","source_name_pattern":null,"number_of_modules":null,"first_module_index":null,"flg_available":true,"description":null,"detectors_instruments":[{"instrument_id":6,"detector_id":21},{"instrument_id":7,"detector_id":21}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"16a0e3c141b2b17791194a1bd40b762b"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/physical_detector_units/get_all_by_detector?detector_id=21&pdu_snapshot_at=2024-03-04+17%3A56%3A05.172132%2B00%3A00
  response:
    body:
      string: '[{"id":190,"physical_name":"Jungfrau_M530","karabo_da":"JNGFR01","virtual_device_name":null,"uuid":800000000010,"float_uuid":3.95252516678e-312,"detector_type_id":4,"detector_id":21,"module_number":null,"flg_available":true,"description":null,"detector":{"id":21,"name":"FXE_XAD_JF1M","identifier":"FXE_XAD_JF1M","karabo_name":"FXE_XAD_JF1M","karabo_id_control":"CONTROL","source_name_pattern":null,"number_of_modules":null,"first_module_index":null,"flg_available":true,"description":null},"detector_type":{"id":4,"name":"jungfrau-Type","flg_available":true,"description":"The
        Jungfrau detector type"}},{"id":179,"physical_name":"Jungfrau_M512","karabo_da":"JNGFR02","virtual_device_name":null,"uuid":1120000000002,"float_uuid":5.53353523343e-312,"detector_type_id":4,"detector_id":21,"module_number":null,"flg_available":true,"description":null,"detector":{"id":21,"name":"FXE_XAD_JF1M","identifier":"FXE_XAD_JF1M","karabo_name":"FXE_XAD_JF1M","karabo_id_control":"CONTROL","source_name_pattern":null,"number_of_modules":null,"first_module_index":null,"flg_available":true,"description":null},"detector_type":{"id":4,"name":"jungfrau-Type","flg_available":true,"description":"The
        Jungfrau detector type"}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d80d897dbca1d5fad7ec2faa80f6a711"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=Offset10Hz
  response:
    body:
      string: '[{"id":21,"name":"Offset10Hz","unit_id":1,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e4e40d978bd2a78e470e9960fbecbcb0"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=Noise10Hz
  response:
    body:
      string: '[{"id":22,"name":"Noise10Hz","unit_id":1,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9c65a34a136fcfe8638c7a6397d873ff"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=BadPixelsDark10Hz
  response:
    body:
      string: '[{"id":23,"name":"BadPixelsDark10Hz","unit_id":19,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6f72b3ba4656468787f92060cded8b97"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"parameters_conditions_attributes": [{"parameter_name": "Sensor Bias Voltage",
      "value": 90.0}, {"parameter_name": "Memory Cells", "value": 1.0}, {"parameter_name":
      "Pixels X", "value": 1024.0}, {"parameter_name": "Pixels Y", "value": 512.0},
      {"parameter_name": "Integration Time", "value": 400.0}, {"parameter_name": "Sensor
      temperature", "value": 291.0}, {"parameter_name": "Gain Setting", "value": 0.0}]}'
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibration_constant_versions/get_by_detector_conditions?detector_identifier=FXE_XAD_JF1M&calibration_id=%5B21%2C+22%2C+23%5D&karabo_da=&event_at=2024-03-04+17%3A56%3A05.172132%2B00%3A00&pdu_snapshot_at=2024-03-04+17%3A56%3A05.172132%2B00%3A00&begin_at_strategy=closest
  response:
    body:
      string: '[{"id":196179,"name":"20240304_125702_sIdx=0","file_name":"cal.1709557021.2759159.h5","path_to_file":"xfel/cal/jungfrau-type/jungfrau_m530/","data_set_name":"/Jungfrau_M530/Offset10Hz/0","flg_deployed":true,"flg_good_quality":true,"begin_validity_at":"2024-03-04T13:33:29.000+01:00","end_validity_at":null,"begin_at":"2024-03-04T13:33:29.000+01:00","start_idx":0,"end_idx":0,"raw_data_location":"proposal:p007136
        runs:62 63 64","report_id":4704,"description":"","created_at":"2024-03-04T13:57:02.000+01:00","view_url":"https://in.xfel.eu/calibration/calibration_constant_versions/196179","calibration_constant":{"id":21220,"name":"jungfrau-Type_Offset10Hz_Jungfrau
        Def+1h1pMpTF4lds41GmnG3qw==\n","detector_type_id":4,"calibration_id":21,"condition_id":6598,"flg_auto_approve":true,"flg_available":true,"description":"Per-pixel
        (per-memory cell) offset","created_at":"2022-10-04T10:48:59.000+02:00","updated_at":"2022-10-04T10:48:59.000+02:00"},"physical_detector_unit":{"id":190,"physical_name":"Jungfrau_M530","detector_type_id":4,"flg_available":true,"description":null,"created_at":"2022-07-18T17:07:34.000+02:00","updated_at":"2022-07-18T17:07:34.000+02:00","karabo_da":"JNGFR01","detector_id":21,"virtual_device_name":null,"uuid":800000000010,"float_uuid":3.95252516678e-312,"module_number":null,"karabo_da_at_ccv_begin_at":"JNGFR01","detector_id_at_ccv_begin_at":21,"virtual_device_name_at_ccv_begin_at":null,"module_number_at_ccv_begin_at":null}},{"id":196180,"name":"20240304_125703_sIdx=0","file_name":"cal.1709557022.6874795.h5","path_to_file":"xfel/cal/jungfrau-type/jungfrau_m530/","data_set_name":"/Jungfrau_M530/Noise10Hz/0","flg_deployed":true,"flg_good_quality":true,"begin_validity_at":"2024-03-04T13:33:29.000+01:00","end_validity_at":null,"begin_at":"2024-03-04T13:33:29.000+01:00","start_idx":0,"end_idx":0,"raw_data_location":"proposal:p007136
        runs:62 63 64","report_id":4704,"description":"","created_at":"2024-03-04T[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=RelativeGain10Hz
  response:
    body:
      string: '[{"id":30,"name":"RelativeGain10Hz","unit_id":3,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"88a34ea66bac3eb83982e16bd86f3b77"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=BadPixelsFF10Hz
  response:
    body:
      string: '[{"id":39,"name":"BadPixelsFF10Hz","unit_id":19,"max_value":null,"min_value":null,"allowed_deviation":null,"description":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"963375627e36b9ff3d2cb9feb4cbad38"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"parameters_conditions_attributes": [{"parameter_name": "Sensor Bias Voltage",
      "value": 90.0}, {"parameter_name": "Memory Cells", "value": 1.0}, {"parameter_name":
      "Pixels X", "value": 1024.0}, {"parameter_name": "Pixels Y", "value": 512.0},
      {"parameter_name": "Integration Time", "value": 400.0}, {"parameter_name": "Sensor
      temperature", "value": 291.0}, {"parameter_name": "Gain Setting", "value": 0.0}]}'
    headers:
      content-type:
      - appl[...]
