interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/me
  response:
    body:
      string: '{"id":-9,"email":"admin@example.com","created_at":"2015-03-12T17:02:47.000+01:00","updated_at":"2023-07-12T11:10:34.000+02:00","provider":"local","uid":null,"name":"Admin
        User","first_name":"Admin","last_name":"User","nickname":null,"contact_email":"admin@example.com","ldap_synced_at":null,"flg_ldap_account_valid":false,"flg_service_account":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b842139470fd3dd760b95ece26a10a4b"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/detectors?identifier=HED_DET_AGIPD65K1
  response:
    body:
      string: '[{"id":50,"name":"HED_DET_AGIPD65K1","identifier":"HED_DET_AGIPD65K1","karabo_name":"HED_DET_AGIPD65K1","karabo_id_control":"HED_DET_AGIPD65K1","source_name_pattern":"HED_DET_AGIPD65K1/DET/{modno+8}CH0:xtdf","number_of_modules":1,"first_module_index":0,"flg_available":true,"description":null,"detectors_instruments":[{"instrument_id":5,"detector_id":50}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8300d78c77b926ac723e5061c8f797f8"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/physical_detector_units/get_all_by_detector?detector_id=50&pdu_snapshot_at=2024-03-22T17%3A19%3A15.965988%2B00%3A00
  response:
    body:
      string: '[{"id":237,"physical_name":"AGIPD_SIV1_AGIPDV12_MS01","karabo_da":"AGIPD08","virtual_device_name":"Q1M1","uuid":102153100001,"float_uuid":5.04703373267e-313,"detector_type_id":2,"detector_id":50,"module_number":0,"flg_available":true,"description":"The
        module is from SPARTA system from X-Spectrum, this is why we use MSXX instead
        of MXXX as for other AGIPDS detectors.","detector":{"id":50,"name":"HED_DET_AGIPD65K1","identifier":"HED_DET_AGIPD65K1","karabo_name":"HED_DET_AGIPD65K1","karabo_id_control":"HED_DET_AGIPD65K1","source_name_pattern":"HED_DET_AGIPD65K1/DET/{modno+8}CH0:xtdf","number_of_modules":1,"first_module_index":0,"flg_available":true,"description":null},"detector_type":{"id":2,"name":"AGIPD-Type","flg_available":true,"description":null}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8bff8b05354e0d5787ceaf49fd97d855"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=Offset
  response:
    body:
      string: '[{"id":1,"name":"Offset","unit_id":1,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"41e8088cc44ad976e577e40482d74dfb"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=Noise
  response:
    body:
      string: '[{"id":2,"name":"Noise","unit_id":1,"max_value":null,"min_value":null,"allowed_deviation":null,"description":"In
        terms of standard deviation"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f1826d5b0b4d30aa8e2a90eb504451d1"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=ThresholdsDark
  response:
    body:
      string: '[{"id":11,"name":"ThresholdsDark","unit_id":1,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f43889846a525288071dc7af3cbabc47"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=BadPixelsDark
  response:
    body:
      string: '[{"id":14,"name":"BadPixelsDark","unit_id":1,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0e4753c0e3b62586fa4dd1eadedc8ec2"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"parameters_conditions_attributes": [{"parameter_name": "Sensor Bias Voltage",
      "value": "200.0"}, {"parameter_name": "Pixels X", "value": "512"}, {"parameter_name":
      "Pixels Y", "value": "128"}, {"parameter_name": "Memory cells", "value": "352"},
      {"parameter_name": "Acquisition rate", "value": "1.1"}, {"parameter_name": "Gain
      setting", "value": "0"}]}'
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibration_constant_versions/get_by_detector_conditions?detector_identifier=HED_DET_AGIPD65K1&calibration_id=%5B1%2C+2%2C+11%2C+14%5D&karabo_da=&event_at=2024-03-22T17%3A19%3A15.965988%2B00%3A00&pdu_snapshot_at=2024-03-22T17%3A19%3A15.965988%2B00%3A00
  response:
    body:
      string: '[{"id":195905,"name":"20240223_140953_sIdx=0","file_name":"cal.1708697392.791521.h5","path_to_file":"xfel/cal/agipd-type/agipd_siv1_agipdv12_ms01/","data_set_name":"/AGIPD_SIV1_AGIPDV12_MS01/Offset/0","flg_deployed":true,"flg_good_quality":true,"begin_validity_at":"2024-02-23T15:00:34.000+01:00","end_validity_at":null,"begin_at":"2024-02-23T15:00:34.000+01:00","start_idx":0,"end_idx":0,"raw_data_location":"proposal:900438
        runs:56 55 54","report_id":4673,"description":"","created_at":"2024-02-23T15:09:54.000+01:00","calibration_constant":{"id":27264,"name":"AGIPD-Type_Offset_AGIPD
        DefoY76o2AcUih2Fd9+K2obaQ==\n","detector_type_id":2,"calibration_id":1,"condition_id":8714,"flg_auto_approve":true,"flg_available":true,"description":"Per-pixel
        (per-memory cell) offset","created_at":"2024-02-23T15:09:53.000+01:00","updated_at":"2024-02-23T15:09:53.000+01:00"},"physical_detector_unit":{"id":237,"physical_name":"AGIPD_SIV1_AGIPDV12_MS01","detector_type_id":2,"flg_available":true,"description":"The
        module is from SPARTA system from X-Spectrum, this is why we use MSXX instead
        of MXXX as for other AGIPDS detectors.","created_at":"2024-02-20T13:20:25.000+01:00","updated_at":"2024-02-23T15:07:49.000+01:00","karabo_da":"AGIPD08","detector_id":50,"virtual_device_name":"Q1M1","uuid":102153100001,"float_uuid":5.04703373267e-313,"module_number":0,"karabo_da_at_ccv_begin_at":"AGIPD08","detector_id_at_ccv_begin_at":50,"virtual_device_name_at_ccv_begin_at":"Q1M1","module_number_at_ccv_begin_at":null}},{"id":195906,"name":"20240223_140957_sIdx=0","file_name":"cal.1708697396.4114847.h5","path_to_file":"xfel/cal/agipd-type/agipd_siv1_agipdv12_ms01/","data_set_name":"/AGIPD_SIV1_AGIPDV12_MS01/Noise/0","flg_deployed":true,"flg_good_quality":true,"begin_validity_at":"2024-02-23T15:00:34.000+01:00","end_validity_at":null,"begin_at":"2024-02-23T15:00:34.000+01:00","start_idx":0,"end_idx":0,"raw_data_location":"proposal:900438
        runs:56 55 54","report_id":4673,"description":"","created_at[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=BadPixelsPC
  response:
    body:
      string: '[{"id":15,"name":"BadPixelsPC","unit_id":1,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"59c04585d60766363edf6d7d8b2b1de5"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=SlopesPC
  response:
    body:
      string: '[{"id":17,"name":"SlopesPC","unit_id":19,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2cd54fe20b3b330444a62a1f2c8e42f5"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"parameters_conditions_attributes": [{"parameter_name": "Sensor Bias Voltage",
      "value": "200.0"}, {"parameter_name": "Pixels X", "value": "512"}, {"parameter_name":
      "Pixels Y", "value": "128"}, {"parameter_name": "Memory cells", "value": "352"},
      {"parameter_name": "Acquisition rate", "value": "1.1"}, {"parameter_name": "Gain
      setting", "value": "0"}]}'
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibration_constant_versions/get_by_detector_conditions?detector_identifier=HED_DET_AGIPD65K1&calibration_id=%5B15%2C+17%5D&karabo_da=&event_at=2024-03-22T17%3A19%3A15.965988%2B00%3A00&pdu_snapshot_at=2024-03-22T17%3A19%3A15.965988%2B00%3A00
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=BadPixelsFF
  response:
    body:
      string: '[{"id":20,"name":"BadPixelsFF","unit_id":19,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8d637e112231afb0794d657d8bf9dd6c"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=SlopesFF
  response:
    body:
      string: '[{"id":19,"name":"SlopesFF","unit_id":19,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"50ec44b55aad814d2d09049e151bfba8"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"parameters_conditions_attributes": [{"parameter_name": "Sensor Bias Voltage",
      "value": "200.0"}, {"parameter_name": "Pixels X", "value": "512"}, {"parameter_name":
      "Pixels Y", "value": "128"}, {"parameter_name": "Memory cells", "value": "352"},
      {"parameter_name": "Acquisition rate", "value": "1.1"}, {"parameter_name": "Gain
      setting", "value": "0"}]}'
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibration_constant_versions/get_by_detector_conditions?detector_identifier=HED_DET_AGIPD65K1&calibration_id=%5B20%2C+19%5D&karabo_da=&event_at=2024-03-22T17%3A19%3A15.965988%2B00%3A00&pdu_snapshot_at=2024-03-22T17%3A19%3A15.965988%2B00%3A00
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
version: 1
