interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/me
  response:
    body:
      string: '{"id":-9,"email":"admin@example.com","provider":"local","contact_email":"admin@example.com","name":"Admin
        User","first_name":"Admin","last_name":"User","nickname":null,"uid":null,"ldap_synced_at":null,"flg_service_account":true,"flg_ldap_account_valid":false,"roles":["admin"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9ec4cec974b56aebafbb6dc312056934"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/detectors?identifier=SPB_DET_AGIPD1M-1
  response:
    body:
      string: '[{"id":2,"name":"SPB_DET_AGIPD1M-1","identifier":"SPB_DET_AGIPD1M-1","karabo_name":"SPB_DET_AGIPD1M-1","karabo_id_control":"SPB_IRU_AGIPD1M1","source_name_pattern":"SPB_DET_AGIPD1M-1/DET/{modno}CH0:xtdf","number_of_modules":16,"first_module_index":0,"flg_available":true,"description":null,"detectors_instruments":[{"instrument_id":3,"detector_id":2},{"instrument_id":7,"detector_id":2}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"73d84e307238475d3943984c03827c80"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/physical_detector_units/get_all_by_detector?detector_id=2&pdu_snapshot_at=2024-04-25+17%3A19%3A23
  response:
    body:
      string: '[{"id":217,"physical_name":"AGIPD_SIV1_AGIPDV12_M435","karabo_da":"AGIPD00","virtual_device_name":"Q1M1","uuid":102003100004,"float_uuid":5.03962274813e-313,"detector_type_id":2,"detector_id":2,"module_number":null,"flg_available":true,"description":null,"detector":{"id":2,"name":"SPB_DET_AGIPD1M-1","identifier":"SPB_DET_AGIPD1M-1","karabo_name":"SPB_DET_AGIPD1M-1","karabo_id_control":"SPB_IRU_AGIPD1M1","source_name_pattern":"SPB_DET_AGIPD1M-1/DET/{modno}CH0:xtdf","number_of_modules":16,"first_module_index":0,"flg_available":true,"description":null},"detector_type":{"id":2,"name":"AGIPD-Type","flg_available":true,"description":"AGIPDConditions"}},{"id":218,"physical_name":"AGIPD_SIV1_AGIPDV12_M421","karabo_da":"AGIPD01","virtual_device_name":"Q1M2","uuid":102013100004,"float_uuid":5.04011681377e-313,"detector_type_id":2,"detector_id":2,"module_number":null,"flg_available":true,"description":null,"detector":{"id":2,"name":"SPB_DET_AGIPD1M-1","identifier":"SPB_DET_AGIPD1M-1","karabo_name":"SPB_DET_AGIPD1M-1","karabo_id_control":"SPB_IRU_AGIPD1M1","source_nam[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=Offset
  response:
    body:
      string: '[{"id":1,"name":"Offset","unit_id":1,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"41e8088cc44ad976e577e40482d74dfb"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=Noise
  response:
    body:
      string: '[{"id":2,"name":"Noise","unit_id":1,"max_value":null,"min_value":null,"allowed_deviation":null,"description":"In
        terms of standard deviation"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f1826d5b0b4d30aa8e2a90eb504451d1"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=ThresholdsDark
  response:
    body:
      string: '[{"id":11,"name":"ThresholdsDark","unit_id":1,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f43889846a525288071dc7af3cbabc47"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=BadPixelsDark
  response:
    body:
      string: '[{"id":14,"name":"BadPixelsDark","unit_id":1,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0e4753c0e3b62586fa4dd1eadedc8ec2"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"parameters_conditions_attributes": [{"parameter_name": "Sensor Bias Voltage",
      "value": 300.0}, {"parameter_name": "Pixels X", "value": 512.0}, {"parameter_name":
      "Pixels Y", "value": 128.0}, {"parameter_name": "Memory cells", "value": 352.0},
      {"parameter_name": "Acquisition rate", "value": 1.1}, {"parameter_name": "Gain
      setting", "value": 0.0}, {"parameter_name": "Integration time", "value": 20.0}]}'
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibration_constant_versions/get_by_detector_conditions?detector_identifier=SPB_DET_AGIPD1M-1&calibration_id=%5B1%2C+2%2C+11%2C+14%5D&karabo_da=&event_at=2024-04-25+17%3A19%3A23&pdu_snapshot_at=2024-04-25+17%3A19%3A23&begin_at_strategy=closest
  response:
    body:
      string: '[{"id":202768,"name":"20240501_075554_sIdx=0","file_name":"cal.1714550152.1913521.h5","path_to_file":"xfel/cal/agipd-type/agipd_siv1_agipdv12_m435/","data_set_name":"/AGIPD_SIV1_AGIPDV12_M435/Offset/0","flg_deployed":true,"flg_good_quality":true,"begin_validity_at":"2024-05-01T09:29:49.000+02:00","end_validity_at":null,"begin_at":"2024-05-01T09:29:49.000+02:00","start_idx":0,"end_idx":0,"raw_data_location":"proposal:900429
        runs:366 365 364","report_id":5015,"description":"","created_at":"2024-05-01T09:55:54.000+02:00","view_url":"https://in.xfel.eu/calibration/calibration_constant_versions/202768","calibration_constant":{"id":32910,"name":"AGIPD-Type_Offset_AGIPD
        DefD0n5Uwo786u4qGazvOqsjw==\n-2","detector_type_id":2,"calibration_id":1,"condition_id":10638,"flg_auto_approve":true,"flg_available":true,"description":"Per-pixel
        (per-memory cell) offset","created_at":"2021-07-29T19:58:02.000+02:00","updated_at":"2025-11-28T09:35:18.000+01:00"},"physical_detector_unit":{"id":217,"physical_name":"AGIPD_SIV1_AGIPDV12_M435","detector_type_id":2,"flg_available":true,"description":null,"created_at":"2023-12-08T12:47:47.000+01:00","updated_at":"2023-12-08T13:10:28.000+01:00","karabo_da":"AGIPD00","detector_id":2,"virtual_device_name":"Q1M1","uuid":102003100004,"float_uuid":5.03962274813e-313,"module_number":null,"karabo_da_at_ccv_begin_at":"AGIPD00","detector_id_at_ccv_begin_at":2,"virtual_device_name_at_ccv_begin_at":"Q1M1","module_number_at_ccv_begin_at":null}},{"id":202772,"name":"20240501_075558_sIdx=0","file_name":"cal.1714550156.9006894.h5","path_to_file":"xfel/cal/agipd-type/agipd_siv1_agipdv12_m435/","data_set_name":"/AGIPD_SIV1_AGIPDV12_M435/Noise/0","flg_deployed":true,"flg_good_quality":true,"begin_validity_at":"2024-05-01T09:29:49.000+02:00","end_validity_at":null,"begin_at":"2024-05-01T09:29:49.000+02:00","start_idx":0,"end_idx":0,"raw_data_location":"proposal:900429
        runs:366 365 364","report_id":5015,"description":"","created[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=BadPixelsPC
  response:
    body:
      string: '[{"id":15,"name":"BadPixelsPC","unit_id":1,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"59c04585d60766363edf6d7d8b2b1de5"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=SlopesPC
  response:
    body:
      string: '[{"id":17,"name":"SlopesPC","unit_id":19,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2cd54fe20b3b330444a62a1f2c8e42f5"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"parameters_conditions_attributes": [{"parameter_name": "Sensor Bias Voltage",
      "value": 300.0}, {"parameter_name": "Pixels X", "value": 512.0}, {"parameter_name":
      "Pixels Y", "value": 128.0}, {"parameter_name": "Memory cells", "value": 352.0},
      {"parameter_name": "Acquisition rate", "value": 1.1}, {"parameter_name": "Gain
      setting", "value": 0.0}, {"parameter_name": "Integration time", "value": 20.0}]}'
    headers:
      content-type:
      - applica[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=BadPixelsFF
  response:
    body:
      string: '[{"id":20,"name":"BadPixelsFF","unit_id":19,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8d637e112231afb0794d657d8bf9dd6c"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=SlopesFF
  response:
    body:
      string: '[{"id":19,"name":"SlopesFF","unit_id":19,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"50ec44b55aad814d2d09049e151bfba8"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=BadPixelsCS
  response:
    body:
      string: '[{"id":53,"name":"BadPixelsCS","unit_id":1,"max_value":null,"min_value":null,"allowed_deviation":null,"description":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c11c6520c54719bf5c1edc981d506336"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=SlopesCS
  response:
    body:
      string: '[{"id":52,"name":"SlopesCS","unit_id":19,"max_value":null,"min_value":null,"allowed_deviation":null,"description":"AGIPD
        shape: (8, memcells, 128, 512)"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5bf5a1a09e63363e880c5fddd834200a"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
[...]
