interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/me
  response:
    body:
      string: '{"id":-9,"email":"admin@example.com","provider":"local","contact_email":"admin@example.com","name":"Admin
        User","first_name":"Admin","last_name":"User","nickname":null,"uid":null,"ldap_synced_at":null,"flg_service_account":true,"flg_ldap_account_valid":false,"roles":["admin"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9ec4cec974b56aebafbb6dc312056934"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibration_constant_versions/155621
  response:
    body:
      string: '{"id":155621,"name":"20230208_155627_sIdx=0","file_name":"cal.1675871786.3909953.h5","path_to_file":"xfel/cal/jungfrau-type/jungfrau_m512/","data_set_name":"/Jungfrau_M512/RelativeGain10Hz/0","flg_deployed":true,"flg_good_quality":true,"begin_validity_at":"2023-02-05T16:20:13.000+01:00","end_validity_at":null,"begin_at":"2023-02-05T16:20:13.000+01:00","start_idx":0,"end_idx":0,"raw_data_location":"/gpfs/exfel/data/user/mramilli/jungfrau/module_PSI_gainmaps/M512/R0108_gainMaps_Single_JNGFR02_20230208.h5","report_id":null,"description":"","created_at":"2023-02-08T16:56:27.000+01:00","view_url":"https://in.xfel.eu/calibration/calibration_constant_versions/155621","calibration_constant":{"id":33718,"name":"jungfrau-Type_RelativeGain10Hz_Jungfrau
        Def6ZDmZnWxgj/CqE1zI2MusA==\n-2","detector_type_id":4,"calibration_id":30,"condition_id":10902,"flg_auto_approve":true,"flg_available":true,"description":"Per-pixel
        (per-memory cell) relative gain","created_at":"2023-02-08T16:44:20.000+01:00","updated_at":"2025-11-28T09:52:15.000+01:00"},"physical_detector_unit":{"id":179,"physical_name":"Jungfrau_M512","detector_type_id":4,"flg_available":true,"description":null,"created_at":"2022-01-20T15:15:31.000+01:00","updated_at":"2022-01-20T15:15:31.000+01:00","karabo_da":"JNGFR02","detector_id":21,"virtual_device_name":null,"uuid":1120000000002,"float_uuid":5.53353523343e-312,"module_number":null,"karabo_da_at_ccv_begin_at":"JNGFR02","detector_id_at_ccv_begin_at":21,"virtual_device_name_at_ccv_begin_at":null,"module_number_at_ccv_begin_at":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b333c9728864eae705e196329bcae967"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibration_constant_versions/235943
  response:
    body:
      string: '{"id":235943,"name":"20250301_071312_sIdx=0","file_name":"cal.1740813191.20364.h5","path_to_file":"xfel/cal/jungfrau-type/jungfrau_m512","data_set_name":"/Jungfrau_M512/Offset10Hz/0","flg_deployed":true,"flg_good_quality":true,"begin_validity_at":"2025-03-01T08:01:14.000+01:00","end_validity_at":null,"begin_at":"2025-03-01T08:01:14.000+01:00","start_idx":0,"end_idx":0,"raw_data_location":"proposal:p007696
        runs: 92 93 94","report_id":6807,"description":"","created_at":"2025-03-01T08:13:12.000+01:00","view_url":"https://in.xfel.eu/calibration/calibration_constant_versions/235943","calibration_constant":{"id":34322,"name":"jungfrau-Type_Offset10Hz_jungfrau
        DefaUjWGN5+w5eGzmT6lXMD6g==\n-2","detector_type_id":4,"calibration_id":21,"condition_id":11142,"flg_auto_approve":true,"flg_available":true,"description":"","created_at":"2025-01-24T09:34:16.000+01:00","updated_at":"2025-11-28T10:00:21.000+01:00"},"physical_detector_unit":{"id":179,"physical_name":"Jungfrau_M512","detector_type_id":4,"flg_available":true,"description":null,"created_at":"2022-01-20T15:15:31.000+01:00","updated_at":"2022-01-20T15:15:31.000+01:00","karabo_da":"JNGFR02","detector_id":21,"virtual_device_name":null,"uuid":1120000000002,"float_uuid":5.53353523343e-312,"module_number":null,"karabo_da_at_ccv_begin_at":"JNGFR02","detector_id_at_ccv_begin_at":21,"virtual_device_name_at_ccv_begin_at":null,"module_number_at_ccv_begin_at":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c5e06280b4ee2472bc4276a05b8bb610"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/reports/6807
  response:
    body:
      string: '{"id":6807,"name":"dark_007696_r0092_r0093_r0094_250301_071249_228935.pdf","file_path":"/gpfs/exfel/d/cal/caldb_store/xfel/reports/FXE/FXE_XAD_JF1M/dark/dark_007696_r0092_r0093_r0094_250301_071249_228935.pdf","flg_available":true,"description":"","calibration_constant_versions":[{"id":235941,"name":"20250301_071311_sIdx=0","file_name":"cal.1740813190.5532455.h5","path_to_file":"xfel/cal/jungfrau-type/jungfrau_m530","data_set_name":"/Jungfrau_M530/Offset10Hz/0","flg_deployed":true,"flg_good_quality":true,"begin_validity_at":"2025-03-01T08:01:14.000+01:00","end_validity_at":null,"begin_at":"2025-03-01T08:01:14.000+01:00","start_idx":0,"end_idx":0,"raw_data_location":"proposal:p007696
        runs: 92 93 94","report_id":6807,"description":"","created_at":"2025-03-01T08:13[...]
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/detectors?identifier=FXE_XAD_JF1M
  response:
    body:
      string: '[{"id":21,"name":"FXE_XAD_JF1M","identifier":"FXE_XAD_JF1M","karabo_name":"FXE_XAD_JF1M","karabo_id_control":"CONTROL","source_name_pattern":null,"number_of_modules":2,"first_module_index":null,"flg_available":true,"description":null,"detectors_instruments":[{"instrument_id":6,"detector_id":21},{"instrument_id":7,"detector_id":21}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"82ff160220fdfe65a2f11beda609abc6"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/detector_types
  response:
    body:
      string: '[{"id":1,"name":"LPD-Type","flg_available":true,"description":null},{"id":2,"name":"AGIPD-Type","flg_available":true,"description":"AGIPDConditions"},{"id":3,"name":"FastCCD-Type","flg_available":true,"description":null},{"id":4,"name":"jungfrau-Type","flg_available":true,"description":"The
        Ju[...]
[...]
