interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/me
  response:
    body:
      string: '{"id":-9,"email":"admin@example.com","provider":"local","contact_email":"admin@example.com","name":"Admin
        User","first_name":"Admin","last_name":"User","nickname":null,"uid":null,"ldap_synced_at":null,"flg_service_account":true,"flg_ldap_account_valid":false,"roles":["admin"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9ec4cec974b56aebafbb6dc312056934"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/detectors?identifier=SPB_DET_AGIPD1M-1
  response:
    body:
      string: '[{"id":2,"name":"SPB_DET_AGIPD1M-1","identifier":"SPB_DET_AGIPD1M-1","karabo_name":"SPB_DET_AGIPD1M-1","karabo_id_control":"SPB_IRU_AGIPD1M1","source_name_pattern":"SPB_DET_AGIPD1M-1/DET/{modno}CH0:xtdf","number_of_modules":16,"first_module_index":0,"flg_available":true,"description":null,"detectors_instruments":[{"instrument_id":3,"detector_id":2},{"instrument_id":7,"detector_id":2}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"73d84e307238475d3943984c03827c80"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/physical_detector_units/get_all_by_detector?detector_id=2&pdu_snapshot_at=2026-04-10T11%3A27%3A00%2B00%3A00
  response:
    body:
      string: '[{"id":188,"physical_name":"AGIPD_SIV1_AGIPDV11_M517","karabo_da":"AGIPD00","virtual_device_name":"Q1M1","uuid":101003000000,"float_uuid":4.9902112427e-313,"detector_type_id":2,"detector_id":2,"module_number":null,"flg_available":true,"description":null,"detector":{"id":2,"name":"SPB_DET_AGIPD1M-1","identifier":"SPB_DET_AGIPD1M-1","karabo_name":"SPB_DET_AGIPD1M-1","karabo_id_control":"SPB_IRU_AGIPD1M1","source_name_pattern":"SPB_DET_AGIPD1M-1/DET/{modno}CH0:xtdf","number_of_modules":16,"first_module_index":0,"flg_available":true,"description":null},"detector_type":{"id":2,"name":"AGIPD-Type","flg_available":true,"description":"AGIPDConditions"}},{"id":218,"physical_name":"AGIPD_SIV1_AGIPDV12_M421","karabo_da":"AGIPD01","virtual_device_name":"Q1M2","uuid":102013100004,"float_uuid":5.04011681377e-313,"detector_type_id":2,"detector_id":2,"module_number":null,"flg_available":true,"description":null,"detector":{"id":2,"name":"SPB_DET_AGIPD1M-1","identifier":"SPB_DET_AGIPD1M-1","karabo_name":"SPB_DET_AGIPD1M-1","karabo_id_control":"SPB_IRU_AGIPD1M1","source_nam[...]
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=Offset
  response:
    body:
      string: '[{"id":1,"name":"Offset","unit_id":1,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"41e8088cc44ad976e577e40482d74dfb"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=Noise
  response:
    body:
      string: '[{"id":2,"name":"Noise","unit_id":1,"max_value":null,"min_value":null,"allowed_deviation":null,"description":"In
        terms of standard deviation"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f1826d5b0b4d30aa8e2a90eb504451d1"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=ThresholdsDark
  response:
    body:
      string: '[{"id":11,"name":"ThresholdsDark","unit_id":1,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f43889846a525288071dc7af3cbabc47"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=BadPixelsDark
  response:
    body:
      string: '[{"id":14,"name":"BadPixelsDark","unit_id":1,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0e4753c0e3b62586fa4dd1eadedc8ec2"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"parameters_conditions_attributes": [{"parameter_name": "Sensor Bias Voltage",
      "value": 300.0}, {"parameter_name": "Pixels X", "value": 512.0}, {"parameter_name":
      "Pixels Y", "value": 128.0}, {"parameter_name": "Memory cells", "value": 0.0},
      {"parameter_name": "Acquisition rate", "value": 4.5}, {"parameter_name": "Gain
      setting", "value": 0.0}, {"parameter_name": "Integration time", "value": 15.0}]}'
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibration_constant_versions/get_by_detector_conditions?detector_identifier=SPB_DET_AGIPD1M-1&calibration_id=%5B1%2C+2%2C+11%2C+14%5D&karabo_da=&event_at=2026-04-10T11%3A27%3A00%2B00%3A00&pdu_snapshot_at=2026-04-10T11%3A27%3A00%2B00%3A00&begin_at_strategy=closest
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=BadPixelsPC
  response:
    body:
      string: '[{"id":15,"name":"BadPixelsPC","unit_id":1,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"59c04585d60766363edf6d7d8b2b1de5"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=SlopesPC
  response:
    body:
      string: '[{"id":17,"name":"SlopesPC","unit_id":19,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2cd54fe20b3b330444a62a1f2c8e42f5"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"parameters_conditions_attributes": [{"parameter_name": "Sensor Bias Voltage",
      "value": 300.0}, {"parameter_name": "Pixels X", "value": 512.0}, {"parameter_name":
      "Pixels Y", "value": 128.0}, {"parameter_name": "Memory cells", "value": 0.0},
      {"parameter_name": "Acquisition rate", "value": 4.5}, {"parameter_name": "Gain
      setting", "value": 0.0}, {"parameter_name": "Integration time", "value": 15.0}]}'
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibration_constant_versions/get_by_detector_conditions?detector_identifier=SPB_DET_AGIPD1M-1&calibration_id=%5B15%2C+17%5D&karabo_da=&event_at=2026-04-10T11%3A27%3A00%2B00%3A00&pdu_snapshot_at=2026-04-10T11%3A27%3A00%2B00%3A00&begin_at_strategy=closest
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=BadPixelsFF
  response:
    body:
      string: '[{"id":20,"name":"BadPixelsFF","unit_id":19,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8d637e112231afb0794d657d8bf9dd6c"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=SlopesFF
  response:
    body:
      string: '[{"id":19,"name":"SlopesFF","unit_id":19,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"50ec44b55aad814d2d09049e151bfba8"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=BadPixelsCS
  response:
    body:
      string: '[{"id":53,"name":"BadPixelsCS","unit_id":1,"max_value":null,"min_value":null,"allowed_deviation":null,"description":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c11c6520c54719bf5c1edc981d506336"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=SlopesCS
  response:
    body:
      string: '[{"id":52,"name":"SlopesCS","unit_id":19,"max_value":null,"min_value":null,"allowed_deviation":null,"description":"AGIPD
        shape: (8, memcells, 128, 512)"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5bf5a1a09e63363e880c5fddd834200a"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"parameters_conditions_attributes": [{"parameter_name": "Sensor Bias Voltage",
      "value": 300.0}, {"parameter_name": "Pixels X", "value": 512.0}, {"parameter_name":
      "Pixels Y", "value": 128.0}, {"parameter_name": "Memory cells", "value": 0.0},
      {"parameter_name": "Acquisition rate", "value": 4.5}, {"parameter_name": "Gain
      setting", "value": 0.0}]}'
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibration_constant_versions/get_by_detector_conditions?detector_identifier=SPB_DET_AGIPD1M-1&calibration_id=%5B53%2C+52%5D&karabo_da=&event_at=2026-04-10T11%3A27%3A00%2B00%3A00&pdu_snapshot_at=2026-04-10T11%3A27%3A00%2B00%3A00&begin_at_strategy=closest
  response:
    body:
      string: '[{"id":207709,"name":"20240531_071339_sIdx=0","file_name":"cal.1717139618.4279437.h5","path_to_file":"xfel/cal/agipd-type/agipd_siv1_agipdv12_m421/","data_set_name":"/AGIPD_SIV1_AGIPDV12_M421/BadPixelsCS/0","flg_deployed":true,"flg_good_quality":true,"begin_validity_at":"2023-12-15T17:21:07.000+01:00","end_validity_at":null,"begin_at":"2023-12-15T17:21:07.000+01:00","start_idx":0,"end_idx":0,"raw_data_location":"Proposal:
        p900376, Run: 264","report_id":null,"description":"","created_at":"2024-05-31T09:13:39.000+02:00","view_url":"https://in.xfel.eu/calibration/calibration_constant_versions/207709","calibration_constant":{"id":33903,"name":"AGIPD-Type_BadPixelsCS_AGIPD
        Defuxrj+sznxr52f7KH5KsCkw==\n-2","detector_type_id":2,"calibration_id":53,"condition_id":10974,"flg_auto_approve":true,"flg_available":true,"description":"Per-pixel
        (per-memory cell) bad pixels from CS runs","created_at":"2023-10-20T13:29:17.000+02:00","updated_at":"2025-11-28T09:55:00.000+01:00"},"physical_detector_unit":{"id":218,"physical_name":"AGIPD_SIV1_AGIPDV12_M421","detector_type_id":2,"flg_available":true,"description":null,"created_at":"2023-12-08T12:48:54.000+01:00","updated_at":"2023-12-08T13:10:28.000+01:00","karabo_da":"AGIPD01","detector_id":2,"virtual_device_name":"Q1M2","uuid":102013100004,"float_uuid":5.04011681377e-313,"module_number":null,"karabo_da_at_ccv_begin_at":"AGIPD01","detector_id_at_ccv_begin_at":2,"virtual_device_name_at_ccv_begin_at":"Q1M2","module_number_at_ccv_begin_at":null}},{"id":201659,"name":"20240425_152557_sIdx=0","file_name":"cal.1714058756.6226678.h5","path_to_file":"xfel/cal/agipd-type/agipd_siv1_agipdv12_m421/","data_set_name":"/AGIPD_SIV1_AGIPDV12_M421/SlopesCS/0","flg_deployed":true,"flg_good_quality":true,"begin_validity_at":"2023-12-15T17:21:07.000+01:00","end_validity_at":null,"begin_at":"2023-12-15T17:21:07.000+01:00","start_idx":0,"end_idx":0,"raw_data_location":"Proposal:
        p900376, Run: 264","report_id":null,"description":"","created_at":"2024-04-25T17:25:57.000+02:00","view_url":"https://in.xfel.eu/calibration/calibration_constant_versions/201659","calibration_constant":{"id":33902,"name":"AGIPD-Type_SlopesCS_AGIPD
        Defuxrj+sznxr52f7KH5KsCkw==\n-2","detector_type_id":2,"calibration_id":52,"condition_id":10974,"flg_auto_approve":true,"flg_available":true,"description":"\n                Constants
        are saved with the following notation:\n                  - Slopes:\n                    -
        mH: high gain slope\n                    - mM: medium gain slope\n                    -
        mL: low gain slope\n                  - Intercepts:\n                    -
        bH: high gain intercept\n                    - bM: medium gain intercept\n                    -
        bL: low gain intercept\n                  - Ratios:\n                    -
        H-M: ratio of high gain and medium gain slope\n                    - M-L:
        ratio of medium gain and low gain slope\n                ","created_at":"2023-10-20T13:29:12.000+02:00","updated_at":"2025-11-28T09:54:59.000+01:00"},"physical_detector_unit":{"id":218,"physical_name":"AGIPD_SIV1_AGIPDV12_M421","detector_type_id":2,"flg_available":true,"description":null,"created_at":"2023-12-08T12:48:54.000+01:00","updated_at":"2023-12-08T13:10:28.000+01:00","karabo_da":"AGIPD01","detector_id":2,"virt[...]
