interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/me
  response:
    body:
      string: '{"id":-9,"email":"admin@example.com","provider":"local","contact_email":"admin@example.com","name":"Admin
        User","first_name":"Admin","last_name":"User","nickname":null,"uid":null,"ldap_synced_at":null,"flg_service_account":true,"flg_ldap_account_valid":false,"roles":["admin"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9ec4cec974b56aebafbb6dc312056934"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/detectors?identifier=FXE_DET_LPD1M-1
  response:
    body:
      string: '[{"id":7,"name":"FXE_DET_LPD1M-1","identifier":"FXE_DET_LPD1M-1","karabo_name":"FXE_DET_LPD1M-1","karabo_id_control":"NA","source_name_pattern":"FXE_DET_LPD1M-1/DET/{modno}CH0:xtdf","number_of_modules":16,"first_module_index":0,"flg_available":true,"description":null,"detectors_instruments":[{"instrument_id":6,"detector_id":7},{"instrument_id":7,"detector_id":7}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"16d82889f839e37dca66ef8d5ae0fba5"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/physical_detector_units/get_all_by_detector?detector_id=7&pdu_snapshot_at=
  response:
    body:
      string: '[{"id":78,"physical_name":"LPD_SIV1_LPDV2_SM015","karabo_da":"LPD00","virtual_device_name":"Q1M1","uuid":202001600000,"float_uuid":9.9802050965e-313,"detector_type_id":1,"detector_id":7,"module_number":null,"flg_available":true,"description":null,"detector":{"id":7,"name":"FXE_DET_LPD1M-1","identifier":"FXE_DET_LPD1M-1","karabo_name":"FXE_DET_LPD1M-1","karabo_id_control":"NA","source_name_pattern":"FXE_DET_LPD1M-1/DET/{modno}CH0:xtdf","number_of_modules":16,"first_module_index":0,"flg_available":true,"description":null},"detector_type":{"id":1,"name":"LPD-Type","flg_available":true,"description":null}},{"id":75,"physical_name":"LPD_SIV1_LPDV2_SM012","karabo_da":"LPD01","virtual_device_name":"Q1M2","uuid":202001300000,"float_uuid":9.98019027453e-313,"detector_type_id":1,"detector_id":7,"module_number":null,"flg_available":true,"description":null,"detector":{"id":7,"name":"FXE_DET_LPD1M-1","identifier":"FXE_DET_LPD1M-1","karabo_name":"FXE_DET_LPD1M-1","karabo_id_control":"NA","source_name_pattern":"FXE_DET_LPD1M-1/DET/{modno}CH0[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=Offset
  response:
    body:
      string: '[{"id":1,"name":"Offset","unit_id":1,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"41e8088cc44ad976e577e40482d74dfb"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=Noise
  response:
    body:
      string: '[{"id":2,"name":"Noise","unit_id":1,"max_value":null,"min_value":null,"allowed_deviation":null,"description":"In
        terms of standard deviation"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f1826d5b0b4d30aa8e2a90eb504451d1"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=BadPixelsDark
  response:
    body:
      string: '[{"id":14,"name":"BadPixelsDark","unit_id":1,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0e4753c0e3b62586fa4dd1eadedc8ec2"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"parameters_conditions_attributes": [{"parameter_name": "Sensor Bias Voltage",
      "value": 250.0}, {"parameter_name": "Memory cells", "value": 512.0}, {"parameter_name":
      "Pixels X", "value": 256.0}, {"parameter_name": "Pixels Y", "value": 256.0},
      {"parameter_name": "Feedback capacitor", "value": 5.0}, {"parameter_name": "Memory
      cell order", "value": "8,24,40,56,72,88,104,120,136,152,168,184,200,216,232,248,264,280,296,312,328,344,360,376,392,408,424,440,456,472,488,504,9,26,43,60,77,94,111,128,145,162,179,196,213,230,247,265,282,299,316,333,350,367,384,401,418,435,452,469,486,503,10,28,46,64,82,100,118,137,155,173,191,209,227,245,263,283,301,319,337,355,373,391,410,428,446,464,482,500,6,27,47,66,85,105,124,143,163,182,182,186,182,"}]}'
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibration_constant_versions/get_by_detector_conditions?detector_identifier=FXE_DET_LPD1M-1&calibration_id=%5B1%2C+2%2C+14%5D&karabo_da=&event_at=&pdu_snapshot_at=&begin_at_strategy=prior
  response:
    body:
      string: '[{"id":252266,"name":"20260312_171617_sIdx=0","file_name":"cal.1773335775.342626.h5","path_to_file":"xfel/cal/lpd-type/lpd_siv1_lpdv2_sm015","data_set_name":"/LPD_SIV1_LPDV2_SM015/Offset/0","flg_deployed":true,"flg_good_quality":true,"begin_validity_at":"2026-03-12T18:06:45.000+01:00","end_validity_at":null,"begin_at":"2026-03-12T18:06:45.000+01:00","start_idx":0,"end_idx":0,"raw_data_location":"p900589,
        runs 97 98 99","report_id":7765,"description":"","created_at":"2026-03-12T18:16:17.000+01:00","view_url":"https://in.xfel.eu/calibration/calibration_constant_versions/252266","calibration_constant":{"id":34481,"name":"LPD-Type_Offset_LPD
        DefYBy/fdmV0EtQ2Nr9fjMDiQ==\n","detector_type_id":1,"calibration_id":1,"condition_id":11202,"flg_auto_approve":true,"flg_available":true,"description":"","created_at":"2026-03-12T18:16:13.000+01:00","updated_at":"2026-03-12T18:16:13.000+01:00"},"physical_detector_unit":{"id":78,"physical_name":"LPD_SIV1_LPDV2_SM015","detector_type_id":1,"flg_available":true,"description":null,"created_at":"2018-05-17T10:28:37.000+02:00","updated_at":"2021-01-12T10:33:12.000+01:00","karabo_da":"LPD00","detector_id":7,"virtual_device_name":"Q1M1","uuid":202001600000,"float_uuid":9.9802050965e-313,"module_number":null,"karabo_da_at_ccv_begin_at":"LPD00","detector_id_at_ccv_begin_at":7,"virtual_device_name_at_ccv_begin_at":"Q1M1","module_number_at_ccv_begin_at":null}},{"id":252273,"name":"20260312_171619_sIdx=0","file_name":"cal.1773335777.9245079.h5","path_to_file":"xfel/cal/lpd-type/lpd_siv1_lpdv2_sm015","data_set_name":"/LPD_SIV1_LPDV2_SM015/Noise/0","flg_deployed":true,"flg_good_quality":true,"begin_validity_at":"2026-03-12T18:06:45.000+01:00","end_validity_at":null,"begin_at":"2026-03-12T18:06:45.000+01:00","start_idx":0,"end_idx":0,"raw_data_location":"p900589,
        runs 97 98 99","report_id":7765,"description":"","created_at":"2026-03-12T18:1[...]
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/conditions/11187
  response:
    body:
      string: '{"id":11187,"name":"LPD Def7608rrLI0VHbpmBRlIgSqw==\n","num_parameters":6,"flg_available":true,"description":"","created_at":"2025-12-01T12:39:16.000+01:00","parameters_conditions":[{"id":83278,"parameter_id":15,"parameter_name":"Feedback
        capacitor","condition_id":11187,"value":5.0,"txt_value":null,"lower_deviation_value":0.0,"upper_deviation_value":0.0,"flg_available":true,"description":"","created_at":"2025-12-01T12:39:16.000+01:00"},{"id":83279,"parameter_id":30,"parameter_name":"Memory
        cell order","condition_id":11187,"value":0.0,"txt_value":"0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,1[...]
[...]
