interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/me
  response:
    body:
      string: '{"id":-9,"email":"admin@example.com","provider":"local","contact_email":"admin@example.com","name":"Admin
        User","first_name":"Admin","last_name":"User","nickname":null,"uid":null,"ldap_synced_at":null,"flg_service_account":true,"flg_ldap_account_valid":false,"roles":["admin"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9ec4cec974b56aebafbb6dc312056934"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibration_constant_versions?page_size=500&report_id=7673
  response:
    body:
      string: '[{"id":250572,"name":"20250616_153815_sIdx=0","file_name":"cal.1750088295.0794492.h5","path_to_file":"xfel/cal/jungfrau-type/jungfrau_m530","data_set_name":"/Jungfrau_M530/Offset10Hz/0","flg_deployed":true,"flg_good_quality":true,"begin_validity_at":"2025-06-16T17:25:19.000+02:00","end_validity_at":null,"begin_at":"2025-06-16T17:25:19.000+02:00","start_idx":0,"end_idx":0,"raw_data_location":"proposal:p007925
        runs: 228 229 230","report_id":7673,"description":"","created_at":"2025-06-16T17:38:15.000+02:00","view_url":"https://in.xfel.eu/calibration/calibration_constant_versions/250572","calibration_constant":{"id":34424,"name":"jungfrau-Type_Offset10Hz_jungfrau
        Defth90C+cwwvxxR0SxyqVVNw==\n-2","detector_type_id":4,"calibration_id":21,"condition_id":11184,"flg_auto_approve":true,"flg_available":true,"description":"","created_at":"2025-06-15T19:36:07.000+02:00","updated_at":"2025-11-28T10:01:20.000+01:00"},"physical_detector_unit":{"id":190,"physical_name":"Jungfrau_M530","detector_type_id":4,"flg_available":true,"description":null,"created_at":"2022-07-18T17:07:34.000+02:00","updated_at":"2022-07-18T17:07:34.000+02:00","karabo_da":"JNGFR01","detector_id":21,"virtual_device_name":null,"uuid":800000000010,"float_uuid":3.95252516678e-312,"module_number":null,"karabo_da_at_ccv_begin_at":"JNGFR01","detector_id_at_ccv_begin_at":21,"virtual_device_name_at_ccv_begin_at":null,"module_number_at_ccv_begin_at":null}},{"id":250573,"name":"20250616_153816_sIdx=0","file_name":"cal.1750088295.9670377.h5","path_to_file":"xfel/cal/jungfrau-type/jungfrau_m530","data_set_name":"/Jungfrau_M530/Noise10Hz/0","flg_deployed":true,"flg_good_quality":true,"begin_validity_at":"2025-06-16T17:25:19.000+02:00","end_validity_at":null,"begin_at":"2025-06-16T17:25:19.000+02:00","start_idx":0,"end_idx":0,"raw_data_location":"proposal:p007925
        runs: 228 229 230","report_id":7673,"description":"","created_at":"2025-06-[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations/21
  response:
    body:
      string: '{"id":21,"name":"Offset10Hz","unit_id":1,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e38b1dc41a97f890a2587673d34b68aa"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/detectors/21
  response:
    body:
      string: '{"id":21,"name":"FXE_XAD_JF1M","identifier":"FXE_XAD_JF1M","karabo_name":"FXE_XAD_JF1M","karabo_id_control":"CONTROL","source_name_pattern":null,"number_of_modules":2,"first_module_index":null,"flg_available":true,"description":null,"detectors_instruments":[{"instrument_id":6,"detector_id":21},{"instrument_id":7,"detector_id":21}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ea7aabddf1d9d293160d11f82af6a9fc"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
version: 1
