interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/detectors?identifier=SPB_DET_AGIPD1M-1
  response:
    body:
      string: '[{"id":2,"name":"SPB_DET_AGIPD1M-1","identifier":"SPB_DET_AGIPD1M-1","karabo_name":"SPB_DET_AGIPD1M-1","karabo_id_control":"SPB_IRU_AGIPD1M1","source_name_pattern":null,"number_of_modules":null,"first_module_index":null,"flg_available":true,"description":null,"detectors_instruments":[{"instrument_id":3,"detector_id":2},{"instrument_id":7,"detector_id":2}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"17e33311a7c3dc75ded9eef5bd5ef3cf"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/physical_detector_units/get_all_by_detector?detector_id=2&pdu_snapshot_at=2020-01-07+13%3A26%3A48.00
  response:
    body:
      string: '[{"id":50,"physical_name":"AGIPD_SIV1_AGIPDV11_M305","karabo_da":"AGIPD00","virtual_device_name":"Q1M1","uuid":101000100000,"float_uuid":4.99006796365e-313,"detector_type_id":2,"detector_id":2,"module_number":null,"flg_available":true,"description":null,"detector":{"id":2,"name":"SPB_DET_AGIPD1M-1","identifier":"SPB_DET_AGIPD1M-1","karabo_name":"SPB_DET_AGIPD1M-1","karabo_id_control":"SPB_IRU_AGIPD1M1","source_name_pattern":null,"number_of_modules":null,"first_module_index":null,"flg_available":true,"description":null},"detector_type":{"id":2,"name":"AGIPD-Type","flg_available":true,"description":null}},{"id":58,"physical_name":"AGIPD_SIV1_AGIPDV11_M315","karabo_da":"AGIPD01","virtual_device_name":"Q1M2","uuid":101000200000,"float_uuid":4.9900729043e-313,"detector_type_id":2,"detector_id":2,"module_number":null,"flg_available":true,"description":null,"detector":{"id":2,"name":"SPB_DET_AGIPD1M-1","identifier":"SPB_DET_AGIPD1M-1","karabo_name":"SPB_DET_AGIPD1M-1","karabo_id_control":"SPB_IRU_AGIPD1M1","source_name_pattern":null[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=Noise
  response:
    body:
      string: '[{"id":2,"name":"Noise","unit_id":1,"max_value":null,"min_value":null,"allowed_deviation":null,"description":"In
        terms of standard deviation"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f1826d5b0b4d30aa8e2a90eb504451d1"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=ThresholdsDark
  response:
    body:
      string: '[{"id":11,"name":"ThresholdsDark","unit_id":1,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f43889846a525288071dc7af3cbabc47"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=BadPixelsDark
  response:
    body:
      string: '[{"id":14,"name":"BadPixelsDark","unit_id":1,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0e4753c0e3b62586fa4dd1eadedc8ec2"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"parameters_conditions_attributes": [{"parameter_name": "Sensor Bias Voltage",
      "value": "300"}, {"parameter_name": "Pixels X", "value": "512"}, {"parameter_name":
      "Pixels Y", "value": "128"}, {"parameter_name": "Memory cells", "value": "352"},
      {"parameter_name": "Acquisition rate", "value": "1.1"}, {"parameter_name": "Gain
      setting", "value": "0"}]}'
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibration_constant_versions/get_by_detector_conditions?detector_identifier=SPB_DET_AGIPD1M-1&calibration_id=%5B1%2C+2%2C+11%2C+14%5D&karabo_da=&event_at=2020-01-07+13%3A26%3A48.00&pdu_snapshot_at=2020-01-07+13%3A26%3A48.00
  response:
    body:
      string: '[{"id":38191,"name":"20200225_180910_sIdx=0","file_name":"cal.1582654148.5093198.h5","path_to_file":"xfel/cal/agipd-type/agipd_siv1_agipdv11_m305/","data_set_name":"/AGIPD_SIV1_AGIPDV11_M305/Offset/0","flg_deployed":true,"flg_good_quality":true,"begin_validity_at":"2020-02-25T18:21:23.000+01:00","end_validity_at":null,"begin_at":"2020-02-25T18:21:23.000+01:00","start_idx":0,"end_idx":0,"raw_data_location":"proposal:p900138
        runs:121 120 119","report_id":null,"description":"","created_at":"2020-02-25T19:09:10.000+01:00","calibration_constant":{"id":6173,"name":"AGIPD-Type_Offset_AGIPD
        DefeNsZxXTHr7","detector_type_id":2,"calibration_id":1,"condition_id":1826,"flg_auto_approve":true,"flg_available":true,"description":"Per-pixel
        (per-memory cell) offset","created_at":"2020-02-25T19:09:10.000+01:00","updated_at":"2020-02-25T19:09:10.000+01:00"},"physical_detector_unit":{"id":50,"physical_name":"AGIPD_SIV1_AGIPDV11_M305","detector_type_id":2,"flg_available":true,"description":null,"created_at":"2018-03-02T15:38:00.000+01:00","updated_at":"2021-02-26T19:31:59.000+01:00","karabo_da":"AGIPD00","detector_id":2,"virtual_device_name":"Q1M1","uuid":101000100000,"float_uuid":4.99006796365e-313,"module_number":null,"karabo_da_at_ccv_begin_at":"AGIPD00","detector_id_at_ccv_begin_at":2,"virtual_device_name_at_ccv_begin_at":"Q1M1","module_number_at_ccv_begin_at":null}},{"id":38192,"name":"20200225_180915_sIdx=0","file_name":"cal.1582654154.3769958.h5","path_to_file":"xfel/cal/agipd-type/agipd_siv1_agipdv11_m305/","data_set_name":"/AGIPD_SIV1_AGIPDV11_M305/Noise/0","flg_deployed":true,"flg_good_quality":true,"begin_validity_at":"2020-02-25T18:21:23.000+01:00","end_validity_at":null,"begin_at":"2020-02-25T18:21:23.000+01:00","start_idx":0,"end_idx":0,"raw_data_location":"proposal:p900138
        runs:121 120 119","report_id":null,"description":"","created[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=BadPixelsPC
  response:
    body:
      string: '[{"id":15,"name":"BadPixelsPC","unit_id":1,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"59c04585d60766363edf6d7d8b2b1de5"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=SlopesPC
  response:
    body:
      string: '[{"id":17,"name":"SlopesPC","unit_id":19,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2cd54fe20b3b330444a62a1f2c8e42f5"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"parameters_conditions_attributes": [{"parameter_name": "Sensor Bias Voltage",
      "value": "300"}, {"parameter_name": "Pixels X", "value": "512"}, {"parameter_name":
      "Pixels Y", "value": "128"}, {"parameter_name": "Memory cells", "value": "352"},
      {"parameter_name": "Acquisition rate", "value": "1.1"}, {"parameter_name": "Gain
      setting", "value": "0"}]}'
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalprox[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=BadPixelsFF
  response:
    body:
      string: '[{"id":20,"name":"BadPixelsFF","unit_id":19,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8d637e112231afb0794d657d8bf9dd6c"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
[...]
