interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/me
  response:
    body:
      string: '{"id":-9,"email":"admin@example.com","created_at":"2015-03-12T17:02:47.000+01:00","updated_at":"2024-06-26T11:38:56.000+02:00","provider":"local","uid":null,"name":"Admin
        User","first_name":"Admin","last_name":"User","nickname":null,"contact_email":"admin@example.com","ldap_synced_at":null,"flg_ldap_account_valid":false,"flg_service_account":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4bf159598242c25bb9fb5b1598d140b2"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/detectors?identifier=MID_DET_AGIPD1M-1
  response:
    body:
      string: '[{"id":4,"name":"MID_DET_AGIPD1M-1","identifier":"MID_DET_AGIPD1M-1","karabo_name":"MID_DET_AGIPD1M-1","karabo_id_control":"MID_EXP_AGIPD1M1","source_name_pattern":null,"number_of_modules":null,"first_module_index":null,"flg_available":true,"description":null,"detectors_instruments":[{"instrument_id":4,"detector_id":4},{"instrument_id":7,"detector_id":4}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"482ffe83a86d14688f9ee0fa415bd62a"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/physical_detector_units/get_all_by_detector?detector_id=4&pdu_snapshot_at=2022-09-01+13%3A26%3A48.00
  response:
    body:
      string: '[{"id":81,"physical_name":"AGIPD_SIV1_AGIPDV11_M337","karabo_da":"AGIPD00","virtual_device_name":"Q1M1","uuid":303000100000,"float_uuid":1.497019400965e-312,"detector_type_id":2,"detector_id":4,"module_number":null,"flg_available":true,"description":null,"detector":{"id":4,"name":"MID_DET_AGIPD1M-1","identifier":"MID_DET_AGIPD1M-1","karabo_name":"MID_DET_AGIPD1M-1","karabo_id_control":"MID_EXP_AGIPD1M1","source_name_pattern":null,"number_of_modules":null,"first_module_index":null,"flg_available":true,"description":null},"detector_type":{"id":2,"name":"AGIPD-Type","flg_available":true,"description":null}},{"id":82,"physical_name":"AGIPD_SIV1_AGIPDV11_M336","karabo_da":"AGIPD01","virtual_device_name":"Q1M2","uuid":303000200000,"float_uuid":1.49701989503e-312,"detector_type_id":2,"detector_id":4,"module_number":null,"flg_available":true,"description":null,"detector":{"id":4,"name":"MID_DET_AGIPD1M-1","identifier":"MID_DET_AGIPD1M-1","karabo_name":"MID_DET_AGIPD1M-1","karabo_id_control":"MID_EXP_AGIPD1M1","source_name_pattern":nul[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=Offset
  response:
    body:
      string: '[{"id":1,"name":"Offset","unit_id":1,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"41e8088cc44ad976e577e40482d74dfb"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"parameters_conditions_attributes": [{"parameter_name": "Sensor Bias Voltage",
      "value": 300.0}, {"parameter_name": "Pixels X", "value": 512.0}, {"parameter_name":
      "Pixels Y", "value": 128.0}, {"parameter_name": "Memory cells", "value": 352.0},
      {"parameter_name": "Acquisition rate", "value": 2.2}, {"parameter_name": "Gain
      setting", "value": 1.0}]}'
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibration_constant_versions/get_by_detector_conditions?detector_identifier=MID_DET_AGIPD1M-1&calibration_id=%5B1%5D&karabo_da=&event_at=2022-09-01+13%3A26%3A48.00&pdu_snapshot_at=2022-09-01+13%3A26%3A48.00&begin_at_strategy=closest
  response:
    body:
      string: '[{"id":141880,"name":"20220902_060534_sIdx=0","file_name":"cal.1662098732.6664886.h5","path_to_file":"xfel/cal/agipd-type/agipd_siv1_agipdv11_m337/","data_set_name":"/AGIPD_SIV1_AGIPDV11_M337/Offset/0","flg_deployed":true,"flg_good_quality":true,"begin_validity_at":"2022-09-02T07:42:33.000+02:00","end_validity_at":null,"begin_at":"2022-09-02T07:42:33.000+02:00","start_idx":0,"end_idx":0,"raw_data_location":"proposal:003049
        runs:120 119 118","report_id":2590,"description":"","created_at":"2022-09-02T08:05:34.000+02:00","view_url":"https://in.xfel.eu/calibration/calibration_constant_versions/141880","calibration_constant":{"id":5754,"name":"AGIPD-Type_Offset_AGIPD
        DefrchgZ/hsv7","detector_type_id":2,"calibration_id":1,"condition_id":1722,"flg_auto_approve":true,"flg_available":true,"description":"Per-pixel
        (per-memory cell) offset","created_at":"2020-02-21T10:04:34.000+01:00","updated_at":"2020-02-21T10:04:34.000+01:00"},"physical_detector_unit":{"id":81,"physical_name":"AGIPD_SIV1_AGIPDV11_M337","detector_type_id":2,"flg_available":true,"description":null,"created_at":"2018-12-06T08:35:24.000+01:00","updated_at":"2021-01-12T10:33:15.000+01:00","karabo_da":"AGIPD00","detector_id":4,"virtual_device_name":"Q1M1","uuid":303000100000,"float_uuid":1.497019400965e-312,"module_number":null,"karabo_da_at_ccv_begin_at":"AGIPD00","detector_id_at_ccv_begin_at":4,"virtual_device_name_at_ccv_begin_at":"Q1M1","module_number_at_ccv_begin_at":null}},{"id":141821,"name":"20220902_060219_sIdx=0","file_name":"cal.1662098537.532864.h5","path_to_file":"xfel/cal/agipd-type/agipd_siv1_agipdv11_m336/","data_set_name":"/AGIPD_SIV1_AGIPDV11_M336/Offset/0","flg_deployed":true,"flg_good_quality":true,"begin_validity_at":"2022-09-02T07:42:33.000+02:00","end_validity_at":null,"begin_at":"2022-09-02T07:42:33.000+02:00","start_idx":0,"end_idx":0,"raw_data_location":"proposal:003049
        runs:120 119 118","report_id":2590,"description":"","created[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://exflcalproxy.desy.de:8080/api/calibrations?name=SlopesFF
  response:
    body:
      string: '[{"id":19,"name":"SlopesFF","unit_id":19,"max_value":null,"min_value":null,"allowed_deviation":null,"description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"50ec44b55aad814d2d09049e151bfba8"
      Status:
      - 200 OK
      X-Count-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
[...]
